<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/base">
<div layout:fragment="content">
    <div class="card-columns">
        <div class="card" th:each="movie : ${searchedMovie}">
            <a th:href="@{/movie/{id}(id=${movie.imdbId})}">
                <img class="card-img-top" th:if="${movie.poster == 'N/A'}" src="https://placehold.it/300x200"
                alt="moviePoster">
            <img class="card-img-top" th:unless="${movie.poster == 'N/A'}" th:src="${movie.poster}" alt="moviePoster">
                <div>
                    <h5 class="card__text" th:text="${movie.title}">Lorem ipsum dolor sit amet.</h5>
                    <p class="card__text" th:text="${movie.year}">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium ad alias, aliquid amet
                        aspernatur atque culpa cum debitis dicta doloremque, dolorum ea eos et excepturi explicabo
                        facilis harum illo impedit incidunt laborum laudantium...
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
</body>

</html>