<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/base">

<head>
    <title>MovieSelector</title>
</head>

<body>
    <div layout:fragment="content">
        <form th:action="@{/search}" method="post" th:object="${movie}">
            <h2 class="xs-margin">Please enter a movie title</h2>
            <label for="movieName" class="sr-only">Movie Title</label>
            <input type="text" class="form-control xs-margin" placeholder="Movie Title" required="true" th:field="*{title}" />
            <button class="btn btn-lg btn-secondary btn-block" type="submit">Submit</button>
        </form>
    </div>
</body>

</html>